.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.highlight {
  color: #3498db; /* Corresponds to secondary.main */
}
